#title1 {
  color: #ffff00;
  border-top: 1mm dashed #32a1ce; 
  border-bottom: thick double #32a1ce;
}
body{
 margin:0;            /* ←追加 */
}

#header{
 background-color:#9cf;
}

#title{
 margin:0;            /* ←追加 */
}
