h1 {
  color: #ffff00;
  border-top: 1mm dashed #32a1ce; 
  border-bottom: thick double #32a1ce;
}
.header-text {
width: 100%;
font-size: 85%;
color: #555;
background-color: #CCC;
}

.header-text-inner {
width:960px;
}
